#canvas {
  border: 1px solid #000;
}
#canvas.drawing {
  cursor: crosshair
}
#canvas * {
  fill: blue;
  fill-opacity: 0.5;
}
#canvas *:hover {
  cursor: move;
  stroke: black;
  stroke-width: 6px;
  stroke-opacity: 0.5;
}
